body {
  font-family: Open Sans, serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: Ivory;
}

h1 {
  font-family: Oswald, serif;
}

h2 {
  font-family: Oswald, serif;
}

img {
  float: left;
}