body {
  margin-top: 50px;
}
/*body {
  font-family: Open Sans, serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: Ivory;
}

#navigation li {
  display: inline;
}

#navigation a {
  margin-right: 75px;
  margin-left: 75px;
}

h1 {
  font-family: Oswald, serif;
}

h2 {
  font-family: Oswald, serif;
}

img {
  float: left;
}

.left {
  float: left;
  width: 300px;
  padding: 1em;
}

.right {
  float: right;
  width: 300px;
  padding: 1em;
}

.center {
  margin-left: 300px;
  margin-right: 300px;
  padding: 1em;
}
 */

