body {
  font-family: Open Sans, serif;
  color: darkblue;
  margin: 10px 50px 10px 50px;
  background-color: Ivory;
}

h1 {
  font-family: Oswald, serif;
}

#navigation li {
  display: inline;
}

#navigation a {
  margin-left: 50px;
  margin-right: 50px;
}

h2 {
  font-family: Oswald, serif;
}

img {
  float: left;
}